
:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }

.otrospeli{
    font-size: 30px;
    margin: auto;
    border: 1px solid white;
    width: 900px;
    background: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: #035;
  }
  
  body{
    height: 100%;
  }

  .año-estreno{
      text-decoration: none;
      color: white;
  }
  .hero-section{
    align-items: flex-start;
    background-image: linear-gradient(20deg, #035 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(5, 1fr); 
    }
  }
  .logo{
    background: #035;
  }
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    bottom: 0;
/*    filter: brightness(0.75) saturate(1.2) contrast(0.85);*/
/*    object-fit: scale-down;*/
object-fit: inherit;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
/*    transition: 
      filter 200ms linear,
      transform 200ms linear;*/
      transition: all ease-in-out 0.3s;
  }
  
  .card:hover .card__background{
    transform: scale(1.06) translateZ(0);
    text-decoration: none;
    border: solid white;
  }
  
/*  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }*/
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }

 #boton{
    padding: 1px 3px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      background: transparent;
      color: #fff;
      background: rgb(148, 133, 133);
      border: 1px solid black;
      border-radius: 10px;
      transition: 0.4s all ease-in-out;
      font-size: 13px;
      font-style:initial;

  }
  #boton:hover{
    transform: scale(1.1);
    background: transparent;
    color: black;
    padding: 2px 15px;
    border:  solid rgb(148, 133, 133);
  }
  .card__content:hover>#boton{
      display: block;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;

  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
  .proxima{
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    font-size: 15px;
    text-align: center;
    margin: auto;
/*    text-transform: uppercase;*/
  }

  /*Botones Anterior y Siguiente*/
  .btn-flotante {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: rgba(0, 191, 255, 0.982); /* Color del texto */
    border-radius: 10px; /* Borde del boton */
    letter-spacing: 2px; /* Espacio entre letras */
/*    background-color: #E91E63; /* Color de fondo */
    background-color: black;
    padding: 18px 30px; /* Relleno del boton */
    position: fixed;
    bottom: 40px;
    right: 220px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    transition: all ease-in-out 0.3s;
  }
  .btn-flotante:hover {
    background-color: black; /* Color de fondo al pasar el cursor */
    border-radius: 20px;
    border:  solid rgba(0, 191, 255, 0.982);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
    }
  }
  a{
      text-decoration: none;
  }
  
  
  .btn-flotante2 {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: rgba(0, 191, 255, 0.982); /* Color del texto */
    border-radius: 10px; /* Borde del boton */
    letter-spacing: 2px; /* Espacio entre letras */
/*    background-color: #E91E63; /* Color de fondo */
    background-color: black;
    padding: 18px 30px; /* Relleno del boton */
    position: fixed;
    bottom: 40px;
    right: 30px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    transition: all ease-in-out 0.3s;
  }
  .btn-flotante2:hover {
    background-color: black; /* Color de fondo al pasar el cursor */
    border-radius: 20px;
    border:  solid rgba(0, 191, 255, 0.982);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante2 {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
    }
  }